<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
	{% load static %}
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel='stylesheet' type='text/css' href="{% static 'bootstrap3\css\bootstrap.min.css' %}" />
	<link rel='stylesheet' type='text/css' href="{% static 'bootstrap3\css\bootstrap-theme.min.css' %}" />
    <title>问卷预览</title>
</head>
<body class='container-fluid'>
<header>
	<h1 class='text-center'><a href=''>crossin编程实战训练营</a></h1>
</header>
<content class='row'>
<div class='col-md-12'>
	<form>
		<h3 class='text text-center'>{{ title }}</h3>
		<p class='text text-right'><em><b>TO -- </b></em><span id='username'>{{ labUser }}</span></p>
		<p class='text'>{{ paper_desc }}</p>
		{% for ques in questions %}
		<hr />
		<div class='row'>
			<div class="form-group has-success col-lg-12">
				<label class="col-lg-2 text-center" for='labUser{{ ques.aid }}'>{{ ques.desc }}</label>
				<div class='col-lg-10'>
				{% if ques.attr.is_option %}
					{% for option in ques.attr.options.all %}
					<div class='radio' id='labUser{{ ques.aid }}'>
						<label>
						{% if option.option == ques.value %}
							<input type="radio" value="{{ option.option }}" checked disabled>
						{% else %}
							<input type="radio" value="{{ option.option }}" disabled>
						{% endif %}
							{{ option.option }}
						</label>
					</div>
					{% endfor %}
				{% else %}
					<input type='text' id='labUser{{ ques.aid }}' class='form-control' placeholder='请填写' value='{{ ques.value }}' disabled>
				{% endif %}
				</div>
			</div>
		</div>
		{% endfor %}
	</form>
</div>
</content>
{% if user.is_staff and not modal_display %}
<div class='row'>
	<nav class="col-md-12 navbar navbar-default navbar-fixed-bottom">
		<div class='container-fluid'>
			<p class='navbar-text navbar-left'><b>管理员菜单</b></p>
			<p class='navbar-text navbar-left'><label>欢迎您：{{ user }}</label></p>
			<p class='navbar-text navbar-center'><a class='navbar-link' href='{% url "homepage" %}'>crossin编程实战训练营</a></p>
			<ul class="nav navbar-nav">
				<li class='{% block userList %}{% endblock %}'><a href='{% url "crm:list" %}'>用户列表</a></li>
				<li class='visible-lg-inline visible-sm-inline visible-md-inline'><a>|</a></li>
				<li class='{% block quesConf %}{% endblock %}'><a href='{% url "crm:conf" %}'>问卷设计</a></li>
				<li class='visible-lg-inline visible-sm-inline visible-md-inline'><a>|</a></li>
				<li class='{% block webotConf %}{% endblock %}'><a href='{% url "webot:rule" %}'>微信配置</a></li>
			</ul>
			{% if filled %}
			<p class='navbar-text navbar-right'>{{ paper_time|date:"Y-m-d H:i:s" }}</p>
			<p class='navbar-text navbar-right'>问卷提交时间</p>
			{% else %}
			<form class='navbar-form navbar-right'>
				<a class="btn btn-default btn-success" href='{% url "crm:fill2" %}/{{ data_key }}'>生成问卷</a>
			</form>
			<p class='navbar-text navbar-right'>{{ paper_time|date:"Y-m-d H:i:s" }}</p>
			<p class='navbar-text navbar-right'>问卷创建时间</p>
			{% endif %}
		</div>
	</nav>
</div>
{% endif %}
<footer>
	<p class='text-center'><b><a>***感谢访问***</a></b></p>
	<hr />
	<hr />
</footer>
<script src="{% static 'bootstrap3\js\jquery.min.js' %}"></script>
<script src="{% static 'bootstrap3\js\bootstrap.min.js' %}"></script>
<script src="{% static 'bootstrap3\js\npm.js' %}"></script>

</body>
</html>