<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
	{% load static %}
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel='stylesheet' type='text/css' href="{% static 'bootstrap3\css\bootstrap.min.css' %}" />
	<link rel='stylesheet' type='text/css' href="{% static 'bootstrap3\css\bootstrap-theme.min.css' %}" />
    <title>问卷预览</title>
</head>
<body class='container-fluid'>
<header>
	<h1 class='text-center'><a href=''>crossin编程实战训练营</a></h1>
</header>
<content class='row'>
<div class='col-md-12'>
	<form>
		<h3 class='text text-center'>{{ title }}</h3>
		<p class='text text-right'><em><b>TO -- </b></em><span id='username'>{{ labUser }}</span></p>
		<p class='text'>{{ paper_desc }}</p>
		{% for ques in questions %}
		<hr />
		<div class='row'>
			<div class="form-group has-success col-lg-12">
				<label class="col-lg-2 text-center" for='labUser{{ ques.aid }}'>{{ ques.desc }}</label>
				<div class='col-lg-10'>
				{% if ques.attr.is_option %}
					{% for option in ques.attr.options.all %}
					<div class='radio' id='labUser{{ ques.aid }}'>
						<label>
						{% if option.option == ques.value %}
							<input type="radio" value="{{ option.option }}" checked disabled>
						{% else %}
							<input type="radio" value="{{ option.option }}" disabled>
						{% endif %}
							{{ option.option }}
						</label>
					</div>
					{% endfor %}
				{% else %}
					<input type='text' id='labUser{{ ques.aid }}' class="form-control" placeholder='请填写' value='{{ ques.value }}' disabled>
				{% endif %}
				</div>
			</div>
		</div>
		{% endfor %}
	</form>
</div>
</content>
{% if user.is_staff and not modal_display %}
<div class='row'>
	<nav class="col-md-12 navbar navbar-default navbar-fixed-bottom">
		<div class='container-fluid'>
			<p class='navbar-text navbar-left'><b>管理员菜单</b></p>
			<p class='navbar-text navbar-left'><label>欢迎您：{{ user }}</label></p>
			<p class='navbar-text navbar-center'><a class='navbar-link' href='{% url "homepage" %}'>crossin编程实战训练营</a></p>
			<ul class="nav navbar-nav">
				<li class='{% block userList %}{% endblock %}'><a href='{% url "crm:list" %}'>用户列表</a></li>
				<li class='visible-lg-inline visible-sm-inline visible-md-inline'><a>|</a></li>
				<li class='{% block quesConf %}{% endblock %}'><a href='{% url "crm:conf" %}'>问卷设计</a></li>
				<li class='visible-lg-inline visible-sm-inline visible-md-inline'><a>|</a></li>
				<li class='{% block webotConf %}{% endblock %}'><a href='{% url "webot:rule" %}'>微信配置</a></li>
			</ul>
			{% if not filled %}
			<form class='navbar-form navbar-right'>
				{% if labUser %}
				<a class="btn btn-success" href='{% url "crm:fill2" %}/{{ data_key }}'>生成问卷</a>
				{% else %}
				<a class="btn btn-success" data-toggle="modal" data-target="#userListModal">生成问卷</a>
				{% endif %}
			</form>
			{% endif %}
			<p class='navbar-text navbar-right'>{{ paper }}</p>
		</div>
	</nav>
</div>
{% if not labUser %}
<div class="modal fade" id='userListModal' tabindex="-1" role="dialog">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">生成问卷：</h4>
			</div>
			<div class="modal-body">
				<form id='formPaperCre' method='POST' action='{% url "crm:papers" %}'>
				{% csrf_token %}
				<input class='hidden' name='data_key' value='{{ data_key }}'>
				<table class="table table-hover table-striped table-bordered">
					<caption>
						<b>成员列表</b>
						<button class='pull-right btn btn-primary' form='' onclick='addNew()'>新成员</button>
					</caption>
					<thead class='thead-inverse'>
						<tr>
							<th class='col-lg-2'>昵称</th><!-- 昵称为本站 user.username -->
							<th class='col-lg-2'>微信</th>
							<th class='col-lg-3'>问卷</th>
							<th class='col-lg-2'>入学日期</th>
							<th class='col-lg-2'>沟通记录</th>
							<th class='col-lg-1'>新问卷</th>
						</tr>
					</thead>
					<tbody id='userList'>
					{% include 'labcrm/ajax/user_del.html' %}
					</tbody>
				</table>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" id='btn-modal-hide' data-dismiss="modal">取消</button>
				<button type="submit" class="btn btn-success" form='formPaperCre'>生成</button>
			</div>										
		</div>
	</div>
</div>
{% endif %}
{% endif %}
<footer>
	<p class='text-center'><b><a>***感谢访问***</a></b></p>
	<hr />
	<hr />
</footer>
<script src="{% static 'bootstrap3\js\jquery.min.js' %}"></script>
<script src="{% static 'bootstrap3\js\bootstrap.min.js' %}"></script>
<script src="{% static 'bootstrap3\js\npm.js' %}"></script>
<script>
function addNew(){
	var newRow = document.getElementById('userList').insertRow(0);
	newRow.innerHTML = '\
	<td>\
		<input class="form-control" name="nickname" placeholder="昵称" onblur="addNewSrue(this)">\
	</td>\
	<td>\
		<input class="form-control" placeholder="用户名" disabled>\
	</td>\
	<td>\
		<input class="form-control" placeholder="微信" disabled>\
	</td>\
	<td>\
		<input class="form-control" placeholder="问卷" disabled>\
	</td>\
	<td>\
		<input class="form-control" placeholder="入学日期" disabled>\
	</td>\
	<td>\
		<input type="checkbox" name="userId" checked disabled>\
	</td>'
	newRow.setAttribute('class', 'success');
	newRow.children[0].children[0].focus();
};

function addNewSrue(e){
	// 添加新成员确认
	if(e.value.length > 0){					// 后台判断是否为空 TODO
		var xhr = new XMLHttpRequest();
		xhr.open("GET", '{% url "crm:ajax:new" %}?nickname=' + e.value, true);
		xhr.onreadystatechange=function(){
			if(xhr.readyState == 4 && xhr.status == 200){
				if(xhr.responseText.length > 0){
					var uid = xhr.responseText,
						td = e.parentElement,
						checkbox = td.parentElement.children[td.parentElement.childElementCount - 1].children[0];
					td.innerHTML = '<a href=\'{% url "crm:detail" %}?uid=' + uid + "'>" + e.value + '</a>';
					checkbox.value = uid;
					checkbox.removeAttribute('disabled');
				}else{
					alert('用户名重复');
					e.select();
				};
			};
		};
		xhr.send();
	}else{
		var tr = e.parentElement.parentElement;
		tr.parentElement.removeChild(tr);
	};
};
</script>
</body>
</html>