{% extends 'base2.html' %}
{% block title %}问卷配置{% endblock %}
{% block quesConf %}active{% endblock %}
{% block row-left %}
<div class="btn-group btn-group-vertical">
	<a class='btn btn-success btn-lg btn-block hidden' id='btnCreate' href=''>生成问卷</a>
	<input class='btn btn-info btn-lg btn-block' type='submit' form='quesConf' id='btnPreview' value='问卷预览' onclick='quesConfPre()'><hr />
	<div class='btn btn-info btn-lg btn-block'>提问修改</div><hr />
	<a class='btn btn-info btn-lg btn-block' href='{% url "crm:add" %}'>添加提问</a>
</div>
{% endblock %}
{% block row-right %}
<div class="row">
	<div class="col-md-9" id='boxPreview'>
		<table class="table table-hover table-striped table-bordered">
			<thead class='thead-inverse'>
			<tr>
				<th>问题</th>
				<th>提供选项</th>
				<th>选用</th>
			</tr>
			</thead>
			<form method='POST' id='quesConf' action='{% url "crm:ajax:preview" %}'>
			{% csrf_token %}
			<tbody>
				{% for attr in attrs %}
				<tr>
					<td>{{ attr.attr }}</td>
					{% if attr.is_option %}
					<td class='info' href="#collapse{{ attr.id }}" data-toggle="collapse">{{ attr.is_option }}</td>
					{% else %}
					<td>{{ attr.is_option }}</td>
					{% endif %}
					<td>
						<label class="c-input c-checkbox">
							<input type="checkbox" name='attr_checked' value='{{ attr.id }}'>
							<span class="c-indicator"></span>
						</label>
					</td>
				</tr>
				{% endfor %}
				<tr class='info'>
					<td>111</td>
					<td>222</td>
					<td>222</td>
				</tr>
				<tr>
					<td>333</td>
					<td>444</td>
					<td>444</td>
				</tr>
			</tbody>
			</form>
		</table>
	</div>
	<div class="col-md-3">
	{% for attr in attrs %}
		<div class="collapse" id="collapse{{ attr.id }}">
			<ul class='list-group'>
			{% for option in attr.options.all %}
				<li class="list-group-item list-group-item-success">{{ option }}</li>
			{% endfor %}
			</ul>
		</div>
	{% endfor %}
	</div>
</div>
<script>
function quesConfPre(){
	document.getElementById("quesConf").onsubmit = function(e){
		e.preventDefault();
		var f = e.target,
			formData = new FormData(f),
			xhr = new XMLHttpRequest(),
			para = document.getElementById('boxPreview'),
			btnPreview = document.getElementById('btnPreview'),
			btnCreate = document.getElementById('btnCreate'),
			btnCreVal = btnCreate.getAttribute('class');
		btnCreVal = btnCreVal.replace('hidden', '');
		xhr.open("POST", f.action, true);
		xhr.onreadystatechange=function(){
			if(xhr.readyState == 4 && xhr.status == 200){
				var rowNew = xhr.responseText;
				para.innerHTML = rowNew;
				btnPreview.setAttribute('class', 'hidden');
				btnCreate.setAttribute('class', btnCreVal);
			};
		};
		xhr.send(formData);
	};
};

</script>
{% endblock %}