{% extends 'base2.html' %}
{% block title %}问卷配置{% endblock %}
{% block quesConf %}active{% endblock %}
{% block row-left %}
<div class="btn-group btn-group-vertical btn-block">
	<input class='btn btn-success btn-lg hidden' id='btnCre' type='submit' form='quesCre' value='生成'>
	<input class='btn btn-warning btn-lg hidden' id='btnPre' type='submit' form='formToFill' onclick='quesPre()' value='预览'>
	<input class='btn btn-info btn-lg' type='submit' form='quesConf' id='btnConf' value='配置' onclick='quesConf()'><hr />
	<button class='btn btn-info btn-lg' data-toggle="modal" data-target="#quesAddModal">添加提问</button>
</div>
{% endblock %}
{% block row-right %}
<div class="row">
	<div class="col-md-9" id='boxPreview'>
		<table class="table table-hover table-striped table-bordered">
			<caption>问卷配置</caption>
			<thead class='thead-inverse'>
				<tr>
					<th>问题</th>
					<th>提供选项</th>
					<th>选用</th>
				</tr>
			</thead>
			<form method='POST' id='quesConf' action='{% url "crm:ajax:preview" %}'>
			{% csrf_token %}
			<tbody>
				{% for attr in attrs %}
				<tr>
					<td>{{ attr.attr }}</td>
					{% if attr.is_option %}
					<td class='info' href="#collapse{{ attr.id }}" data-toggle="collapse">{{ attr.is_option }}</td>
					{% else %}
					<td>{{ attr.is_option }}</td>
					{% endif %}
					<td>
						<label class="c-input c-checkbox">
							<input type="checkbox" name='attr_checked' value='{{ attr.id }}'>
							<span class="c-indicator"></span>
						</label>
					</td>
				</tr>
				{% endfor %}
			</tbody>
			</form>
		</table>
	</div>
	<div class="col-md-3">
	{% for attr in attrs %}
		<div class="collapse" id="collapse{{ attr.id }}">
			<ul class='list-group'>
			{% for option in attr.options.all %}
				<li class="list-group-item list-group-item-success">{{ option }}</li>
			{% endfor %}
			</ul>
		</div>
	{% endfor %}
	</div>
</div>
{% endblock %}
{% block modal %}
<div class="modal fade" id='quesAddModal' tabindex="-1" role="dialog">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">添加提问:</h4>
			</div>
			<div class="modal-body">
				<form id='formQuesAdd' action='{% url "crm:ajax:add" %}' method='POST'>
					{% csrf_token %}
					<div class="form-group">
						<textarea name='dialog' required=true class="form-control" id="dialog-text" rows=15></textarea>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" id='btn-modal-hide' data-dismiss="modal">取消</button>
				<button type="submit" class="btn btn-primary" form='formQuesAdd' onclick='quesAddSave()'>保存</button>
			</div>										
		</div>
	</div>
</div>
{% endblock %}
{% block script %}
<script>
function quesConf(){
	// ajax 配置
	document.getElementById("quesConf").onsubmit = function(e){
		e.preventDefault();
		var f = e.target,
			formData = new FormData(f),
			xhr = new XMLHttpRequest(),
			para = document.getElementById('boxPreview'),
			btnConf = document.getElementById('btnConf'),
			btnPre = document.getElementById('btnPre'),
			btnCreVal = btnPre.getAttribute('class');
		btnCreVal = btnCreVal.replace('hidden', '');
		xhr.open("POST", f.action, true);
		xhr.onreadystatechange=function(){
			if(xhr.readyState == 4 && xhr.status == 200){
				var rowNew = xhr.responseText;
				para.innerHTML = rowNew;
				btnConf.setAttribute('class', 'hidden');
				btnPre.setAttribute('class', btnCreVal);
			};
		};
		xhr.send(formData);
	};
};

function quesPre(){
	// ajax 预览
	document.getElementById("formToFill").onsubmit = function(e){
		e.preventDefault();
		var f = e.target,
			formData = new FormData(f),
			xhr = new XMLHttpRequest(),
			para = document.getElementById('boxPreview'),
			btnPre = document.getElementById('btnPre'),
			btnCre = document.getElementById('btnCre'),
			btnCreVal = btnCre.getAttribute('class');
		btnCreVal = btnCreVal.replace('hidden', '');
		xhr.open("POST", f.action, true);
		xhr.onreadystatechange=function(){
			if(xhr.readyState == 4 && xhr.status == 200){
				var rowNew = xhr.responseText;
				para.innerHTML = rowNew;
				btnPre.setAttribute('class', 'hidden');
				btnCre.setAttribute('class', btnCreVal);
			};
		};
		xhr.send(formData);
	};
};

</script>
{% endblock %}