<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
	{% load static %}
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel='stylesheet' type='text/css' href="{% static 'bootstrap3\css\bootstrap.min.css' %}" />
	<link rel='stylesheet' type='text/css' href="{% static 'bootstrap3\css\bootstrap-theme.min.css' %}" />
    <title>{{ title }}</title>
</head>
<body>
<header>
	<h1 class='text-center'><a href='{% url "homepage" %}'>crossin编程实战训练营</a></h1>
</header>
<content class='row'>
<div class='col-md-12'>
	<form action='{% url "crm:fill" %}' method='POST' id='formResult'>
	{% csrf_token %}
		<h3 class='text text-center'>{{ title }}</h3>
		<p class='text text-right'><em><b>TO -- </b></em><span id='username'>{{ labUser }}</span></p>
		<p class='text'>{{ paper_desc }}</p>
		{% for ques in questions %}
		<hr />
		<div class='row'>
			<div class="form-group has-success col-lg-12">
				<label class="col-lg-2 text-center" for='labUser{{ ques.aid }}'>{{ ques.desc }}</label>
				<div class='col-lg-10'>
				{% if ques.attr.is_option %}
					{% for option in ques.attr.options.all %}
					<div class='radio'>
						<label>
							<input type="radio" name="ques_value" value="{{ option.id }}">
							{{ option.option }}
						</label>
					</div>
					{% endfor %}
				{% else %}
					<input type='text' id='labUser{{ ques.aid }}' class='form-control' name='ques_value' onfocus="this.select()" placeholder='请填写'>
				{% endif %}
				</div>
				<div class='hidden'>
					<input name='attr_id' value='{{ ques.aid }}'>
				</div>
			</div>
		</div>
		{% endfor %}
	</form>
</div>
</content>
<footer>
	<p class='text-center'><b><a>***感谢访问***</a></b></p>
</footer>
<script src="http://code.jquery.com/jquery.js"></script>
<script src="{% static 'bootstrap3\js\bootstrap.min.js' %}"></script>
<script src="{% static 'bootstrap3\js\npm.js' %}"></script>
<script>
</script>

</body>
</html>