{% extends 'base2.html' %}
{% block title %}问卷配置{% endblock %}
{% block quesConf %}active{% endblock %}
{% block row-left %}
<div class="btn-group btn-group-vertical">
	<input class='btn btn-success btn-lg btn-block hidden' id='btnCre' type='submit' form='quesCre' value='生成'>
	<input class='btn btn-warning btn-lg btn-block hidden' id='btnPre' type='submit' form='formToFill' onclick='quesPre()' value='预览'>
	<input class='btn btn-info btn-lg btn-block' type='submit' form='quesConf' id='btnConf' value='配置' onclick='quesConf()'><hr />
	<a class='btn btn-info btn-lg btn-block' href='{% url "crm:add" %}'>添加提问</a>
</div>
{% endblock %}
{% block row-right %}
<div class="row">
	<div class="col-md-9" id='boxPreview'>
		<table class="table table-hover table-striped table-bordered">
			<caption>问卷配置</caption>
			<thead class='thead-inverse'>
				<tr>
					<th>问题</th>
					<th>提供选项</th>
					<th>选用</th>
				</tr>
			</thead>
			<form method='POST' id='quesConf' action='{% url "crm:ajax:preview" %}'>
			{% csrf_token %}
			<tbody>
				{% for attr in attrs %}
				<tr>
					<td>{{ attr.attr }}</td>
					{% if attr.is_option %}
					<td class='info' href="#collapse{{ attr.id }}" data-toggle="collapse">{{ attr.is_option }}</td>
					{% else %}
					<td>{{ attr.is_option }}</td>
					{% endif %}
					<td>
						<label class="c-input c-checkbox">
							<input type="checkbox" name='attr_checked' value='{{ attr.id }}'>
							<span class="c-indicator"></span>
						</label>
					</td>
				</tr>
				{% endfor %}
			</tbody>
			</form>
		</table>
	</div>
	<div class="col-md-3">
	{% for attr in attrs %}
		<div class="collapse" id="collapse{{ attr.id }}">
			<ul class='list-group'>
			{% for option in attr.options.all %}
				<li class="list-group-item list-group-item-success">{{ option }}</li>
			{% endfor %}
			</ul>
		</div>
	{% endfor %}
	</div>
</div>
{% endblock %}
{% block modal %}
<div class='hidden'>
	<form action='' method='POST' id='quesCre'>
	{% csrf_token %}
		<input name='is_cre' value=true>
		<input id='inputData' name='data'>
		<input id='inputUsername' name='username'>
	</form>
</div>
{% endblock %}
{% block script %}
<script>
function quesConf(){
	// ajax 配置
	document.getElementById("quesConf").onsubmit = function(e){
		e.preventDefault();
		var f = e.target,
			formData = new FormData(f),
			xhr = new XMLHttpRequest(),
			para = document.getElementById('boxPreview'),
			btnConf = document.getElementById('btnConf'),
			btnPre = document.getElementById('btnPre'),
			btnCreVal = btnPre.getAttribute('class');
		btnCreVal = btnCreVal.replace('hidden', '');
		xhr.open("POST", f.action, true);
		xhr.onreadystatechange=function(){
			if(xhr.readyState == 4 && xhr.status == 200){
				var rowNew = xhr.responseText;
				para.innerHTML = rowNew;
				btnConf.setAttribute('class', 'hidden');
				btnPre.setAttribute('class', btnCreVal);
			};
		};
		xhr.send(formData);
	};
};

function quesPre(){
	// ajax 预览
	document.getElementById("formToFill").onsubmit = function(e){
		e.preventDefault();
		var f = e.target,
			formData = new FormData(f),
			xhr = new XMLHttpRequest(),
			para = document.getElementById('boxPreview'),
			btnPre = document.getElementById('btnPre'),
			btnCre = document.getElementById('btnCre'),
			btnCreVal = btnCre.getAttribute('class');
		btnCreVal = btnCreVal.replace('hidden', '');
		xhr.open("POST", f.action, true);
		xhr.onreadystatechange=function(){
			if(xhr.readyState == 4 && xhr.status == 200){
				var rowNew = xhr.responseText;
				para.innerHTML = rowNew;
				btnPre.setAttribute('class', 'hidden');
				btnCre.setAttribute('class', btnCreVal);
				quesCrePre();
			};
		};
		xhr.send(formData);
	};
};

function quesCrePre(){
	// 生成问卷信息表单
	var data = document.getElementById('boxPreview').innerHTML,
		username = document.getElementById('username').innerText;
	document.getElementById('inputData').setAttribute('value', data);
	document.getElementById('inputUsername').setAttribute('value', username);
};
</script>
{% endblock %}