{% extends 'base2.html' %}
{% block title %}详细信息{% endblock %}
{% block row-left %}
<div id="accordion" role="tablist" aria-multiselectable="true">
	<div class="panel panel-default">
		<div class="panel-heading" role="tab" id="headingOne">
			<h4 class="panel-title">
				<a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">用户列表</a>
			</h4>
		</div>
		<div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
			<ul>
				<li>aaaa</li>
				<li>aaaa</li>
				<li>aaaa</li>
				<li>aaaa</li>
			</ul>
		</div>
	</div>
	<div class="panel panel-default">
		<div class="panel-heading" role="tab" id="headingTwo">
			<h4 class="panel-title">
				<a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">选择问卷</a>
			</h4>
		</div>
		<div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
			<ul>
				<li>aaaa</li>
				<li>aaaa</li>
				<li>aaaa</li>
				<li>aaaa</li>
			</ul>
		</div>
	</div>
</div>
<div class="btn-group btn-group-vertical" role="group">
	<button class='btn btn-info'><h3>生成问卷</h3></button><hr />
	<button class='btn btn-info' id='btnModify' onclick='info_modify()'><h3>修改资料</h3></button><hr />
	<button class='btn btn-info'><h3>添加记录</h3></button>
</div>
{% endblock %}
{% block row-right %}
<div class="row">
<div class='col-md-12'>
	<h2>{{ user.nickname }}</h2>
	<hr />
	<form id='form_details'>
	<table class="table table-hover table-striped table-bordered">
		<thead class="thead-inverse">
			<tr id='trQuestion'>
				<th>属性</th>
				<th>值</th>
			</tr>
		</thead>
		<tbody id='tagTbInfo'>
		{% for answer in user.answers.all %}
			<tr class='trAnswer'>
				<td>{{ answer.question }}</td>
				<td><input class="form-control form-control-lg tagAnswer" type="text" placeholder="{{ answer.answer }}" readonly></td>
			</tr>
		{% endfor %}
			<tr class='error'>
				<td>111</td>
				<td>222</td>
			</tr>
			<tr>
				<td>333</td>
				<td>444</td>
			</tr>
		</tbody>
	</table>
	</form>
</div>
</div>
<div class='row hidden' id='tagBtnHidden'>
	<div class="col-md-4 col-md-offset-1 btn btn-primary" type='button' onclick='tagInfoAdd()'>增添信息</div>
	<div class="col-md-4 col-md-offset-2 btn btn-primary" type='button' onclick='modifyConfirm()'>确认修改</div>
</div>
{% endblock %}
{% block script %}
<script>
function info_modify(){
	// 禁用按钮
	var btnModify = document.getElementById('btnModify');
	btnModify.setAttribute('disabled', 'true');
	// 去除只读属性
	var tagsAanswer = document.getElementsByClassName("tagAnswer");
	for(var i=0;i<tagsAanswer.length;i++){
		tagsAanswer[i].removeAttribute("readonly");
	};
	// 显示隐藏按钮
	var tagBtnHidden = document.getElementById("tagBtnHidden");
	var classVal = tagBtnHidden.getAttribute("class");
	classVal = classVal.replace('hidden', '');
	tagBtnHidden.setAttribute("class", classVal);
	// 新增删除列表头
	var tagTrQuestion = document.getElementById('trQuestion');
	var tagThNew = document.createElement('th');
	tagTrQuestion.appendChild(tagThNew);
	tagThNew.setAttribute('id', 'delInfo');
	tagThNew.innerHTML = '删除';
	// 新增删除列
	var tagsTrAnswer = document.getElementsByClassName('trAnswer');
	for(var i=0;i<tagsTrAnswer.length;i++){
		var tagTdNew = document.createElement('td');
		tagsTrAnswer[i].appendChild(tagTdNew);
		tagTdNew.innerHTML = '<input class="form-control form-control-lg btn-danger btn" type="button" value="X">';
	};
};

function tagInfoAdd(){
	var tagTbInfo = document.getElementById('tagTbInfo');
	var tagTrNew = document.createElement('tr');
	tagTbInfo.appendChild(tagTrNew);
	tagTrNew.setAttribute('class', 'trAnswer');
	tagTrNew.innerHTML = '\
	<td><input class="form-control form-control-lg" type="text" placeholder="属性名"></td>\
	<td><input class="form-control form-control-lg tagAnswer" type="text" placeholder="属性值"></td>\
	<td><input class="form-control form-control-lg btn-danger btn" type="button" value="X"></td>'
};

</script>
{% endblock %}
