{% extends 'base.html' %}
{% block title %}用户列表{% endblock %}
{% block h1 %}{% endblock %}
{% block topFix %}navbar-fixed-top{% endblock %}
{% block homeLink %}
<p class='navbar-text navbar-center'><a class='navbar-link' href='{% url "homepage" %}'>crossin编程实战训练营</a></p>
{% endblock %}
{% block content %}
<hr />
<div class="container-fluid">
	<div class="row">
		<div class="col-md-2" id="row-left">
			{% block row-left %}
			{% endblock %}
		</div>
		<div class="col-md-10" id="row-right">
			{% block row-right %}
			{% endblock %}
		</div>
	</div>
</div>
{% endblock %}