{% if is_strict_qa %}
<form class='form-horizontal' id='form{{ keyword.id }}'>
{% else %}
#js_split#{{ keyword.id }}#js_split#
{% endif %}
<hr />
	{% csrf_token %}
	<input class='hidden' name='modify' value='1'>
	<div class="form-group">
		<label class="control-label col-lg-1" for='kw{{ keyword.id }}'>关键字</label>
		<div class="col-lg-3">
			<input type='text' id='kw{{ keyword.id }}' class="form-control" name='keyword' onfocus='select()' placeholder='关键字' value='{{ keyword }}' readonly>
		</div>
		<button class='pull-right btn btn{{ keyword.id }} btn-danger unhid' form='' onclick='QADelete("{{ keyword.id }}")'>删除</button>
		<button class='pull-right btn btn{{ keyword.id }} btn-info unhid modify' form='' onclick='QAModify("{{ keyword.id }}")'>修改</button>
		<button class='pull-right btn btn{{ keyword.id }} btn-success hidden' onclick='modifySure("{{ keyword.id }}")'>保存</button>
		<button class='pull-right btn btn{{ keyword.id }} btn-danger hidden' form='' onclick='modifyCancel("{{ keyword.id }}")'>取消</button>
	</div>
	<div class="form-group">
		<label class="control-label col-lg-1" for='desc{{ keyword.id }}'>描述</label>
		<div class="col-lg-11">
			<input type='text' id='desc{{ keyword.id }}' class="form-control inp{{ keyword.id }}" name='desc' onfocus='select()' placeholder='描述' value='{{ keyword.replies.last.desc }}' readonly=true required>
		</div>
	</div>
	<div class="form-group">
		<label class="control-label col-lg-1" for='answ{{ keyword.id }}'>回答</label>
		<div class="col-lg-11">
		{% if keyword.replies.last.is_pic %}
			<div id='answ{{ keyword.id }}'>
				<img src='{{ keyword.replies.last.reply_pic }}'>
			</div>
		{% else %}
			<textarea id='answ{{ keyword.id }}' class='form-control inp{{ keyword.id }}' name='answer' onfocus='select()' placeholder='回答' readonly=true required>{{ keyword.replies.last.reply_text }}</textarea>
		{% endif %}
		</div>
	</div>
{% if is_strict_qa %}
</form>
{% endif %}