<table class="table table-hover table-striped table-bordered">
	<caption>入群规则</caption>
	<thead class='thead-inverse'>
		<tr>
			<th class='col-md-4 input-lg'>群名</th>
			<th class='col-md-6 input-lg'>关键字集</th>
			<th class='col-md-2 input-lg text-center'>匹配次序</th>
		</tr>
	</thead>
	<tbody id='formRule'>
		{% for room in rooms %}
		<tr>
			<td class='input-lg'>{{ room }}</td>
			<td class='input-lg'>
			{% for rule in room.rules.all %}
				{{ rule.keyword }} 
			{% endfor %}
			</td>
			<td class='input-lg text-center'>{{ room.order }}</td>
		</tr>
		{% endfor %}
	</tbody>
</table>