<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	{% load static %}
	<title>主页</title>
	<link rel='stylesheet' type='text/css' href="{% static 'bootstrap\css\bootstrap.min.css' %}" />
</head>
<body>
<h1>Crossin编程教室实验室</h1>
<header>
<nav><ul>
	<li><a href='{% url "crm:list" %}'>用户列表</a></li>
	<li><a href='{% url "crm:conf" %}'>问卷设计</a></li>
</ul></nav>
<span><ul>
	<li><a href='{% url "account:register" %}'>注册</a></li>
	<li><a href='{% url "account:login" %}'>登录</a></li>
</ul></span>
</header>
<script src="http://code.jquery.com/jquery.js"></script>
<script src='{% static "bootstrap\js\bootstrap.min.js" %}'></script>
</body>
</html>